* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Yatay taşmayı engeller */
}

/* menü start */
header .logo {
  max-width: 100%;
  height: 100px;
  display: block;
  width: 200px;
}

header .col-md-2 p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

header .nav-link {
  color: black;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-right: 15px;
}
header .div .col-md-10 {
  padding: 0;
  margin: 0;
}
header div.col-12:nth-child(2) {
  margin-left: 32px;
}
header div.col-12:not(:last-child) {
  margin-left: 32px;
}
header .nav-link:hover {
  color: #fff;
  background-color: #3498db;
}

header .col-12:nth-child(2) .nav-link {
  border: 1px solid black;
}

header .navbar.justify-content-start {
  z-index: 1000;
  margin-left: -15px;
  padding-bottom: 20px;
  background-color: white;
  width: 100%;
  left: 0;
}
/* menü end */

/* başlık start */

.uye-cont {
  height: 1120px;
  width: 45%;
  background-color: rgba(255, 255, 255);
  margin: 10px auto;
  margin-top: 5em;
  border: 3px solid white;
  box-shadow: 5px 5px 10px rgb(27, 26, 26);
}

.uye-cont .uye-baslik {
  background-color: rgba(13, 18, 22, 0.3);
  width: 50%;
  height: 55px;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-left: 342px;
  border-end-start-radius: 20px;
  margin-top: -2.5px;
}

/* başlık end */

/* üye start */
.uye-cont .uye-form {
  width: 80%;
  margin-left: 4em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2em;
}

.uye-cont .ilk-kisim {
  display: flex;
  margin-left: 2em;
  padding-top: 4em;
}

.uye-cont .ilk-kisim input {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.uye-cont .ilk-kisim .ilk-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .ilk-kisim .ikinci-yazi {
  margin-left: 3em;
}

.uye-cont .ilk-kisim .ikinci-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .ikinci-kisim {
  display: flex;
  margin-left: 2em;
  padding-top: 4em;
}

.uye-cont .ikinci-kisim input {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.uye-cont .ikinci-kisim .ücüncü-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .ikinci-kisim .dördüncü-yazi {
  margin-left: 3em;
}

.uye-cont .ikinci-kisim .dördüncü-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .ücüncü-kisim {
  display: flex;
  margin-left: 2em;
  padding-top: 4em;
}

.uye-cont .ücüncü-kisim input {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.uye-cont .ücüncü-kisim .besinci-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .ücüncü-kisim .altinci-yazi {
  margin-left: 3em;
}

.uye-cont .ücüncü-kisim .altinci-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .dördüncü-kisim {
  display: flex;
  margin-left: -1em;
  padding-top: 1em;
}

.uye-cont .dördüncü-kisim input {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.uye-cont .dördüncü-kisim select {
  height: 35px;
  width: 190px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-left: 0.1em;
}

.uye-cont .dördüncü-kisim .yedinci-yazi {
  margin-left: 3em;
}

.uye-cont .dördüncü-kisim .yedinci-yazi h3 {
  font-size: 18px;
  font-weight: bold;
}

.uye-cont .besinci-kisim {
  display: flex;
  margin-left: 2em;
  padding-top: 3em;
}

.uye-cont .besinci-kisim .sekizinci-yazi h3 {
  font-size: 17px;
  font-weight: bold;
}

.uye-cont .altinci-kisim {
  display: flex;
  margin-left: 2em;
  padding-top: 4em;
}

.uye-cont .altinci-kisim input {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.uye-cont .altinci-kisim .dokuzuncu-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .altinci-kisim .onuncu-yazi {
  margin-left: 3em;
}

.uye-cont .altinci-kisim .onuncu-yazi h3 {
  font-size: 22px;
  font-weight: bold;
}

.uye-cont .altinci-kisim .onuncu-yazi select {
  height: 40px;
  width: 210px;
  border: 2px solid #ccc;
  border-radius: 6px;
}
/* buton start */
.uye-cont button {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 3px rgb(12, 12, 12);
  border: 1px solid rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  margin-left: 13em;
  margin-top: 6em;
}

.uye-cont button a {
  text-decoration: none;
  color: white;
  font-size: 17.8px;
  font-family: Arial, Helvetica, sans-serif;
}

.uye-cont button:hover {
  opacity: 0.4;
}
/* buton end */

/* alt kısım start */
.uye-cont .uye-alt {
  background-color: rgba(13, 18, 22, 0.3);
  width: 50%;
  height: 1.7em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-start-end-radius: 20px;
  margin-top: 125px;
  margin-left: -2.5px;
}
/* alt kısım end */

/* üye end */

/* footer start */
footer {
  background-color: black;
  padding: 70px 0;
}
footer ul {
  list-style-type: none;
  padding-left: 40px;
}
footer .footer-container {
  width: 100%;
  margin: auto;
  background-color: black;
  padding-left: 60px;
}

footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
footer .footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 20;
  bottom: -10px;
  background-color: #3abef9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
  margin-left: -40px;
}
footer .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
}
footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* footer end */

/* responsive start */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer-col {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar.justify-content-end {
    align-items: flex-end;
  }

  .navbar.justify-content-start {
    align-items: flex-start;
  }
  @media (max-width: 1200px) {
    .container {
      padding: 0 15px;
    }

    .box {
      padding: 15px;
    }

    .taskbar {
      margin-bottom: 15px;
    }

    .taskbar button {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 767px) {
  .uye-cont {
    width: 85%;
  }

  .uye-cont .uye-baslik {
    margin-left: 9.9em;
  }
}

@media (max-width: 768px) {
  .uye-cont {
    width: 85%;
  }

  .uye-cont .uye-baslik {
    margin-left: 9.9em;
  }
}

@media (max-width: 1200px) {
  .uye-cont {
    width: 65%;
  }

  .uye-cont .uye-baslik {
    margin-left: 9.8em;
    font-size: 40px;
  }

  .uye-cont .uye-form {
    margin-left: 7.5em;
  }

  .uye-cont .uye-form .ilk-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .ikinci-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .ücüncü-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .dördüncü-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .besinci-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .altinci-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .yedinci-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .sekizinci-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .dokuzuncu-yazi h3 {
    font-size: 25px;
  }

  .uye-cont .uye-form .onuncu-yazi h3 {
    font-size: 25px;
  }

  .uye-cont button {
    height: 4em;
    width: 12em;
  }

  .uye-cont .uye-alt {
    margin-top: 71px;
  }
}
